In [20]:
import pandas as pd
import numpy as np
import matplotlib

### 1. Badanie rezystancji uzwojeń transformatora.

In [21]:
l = [1,2,3,4,5,6] # test pomiar
n_pomiar = 2
data = [l] * n_pomiar # test data




df1 = pd.DataFrame(data,index=pd.Index([f'Pomiar {i+1}' for i in range(n_pomiar)], 
                                      name='Wyniki pomiarów:'),
                  columns=pd.MultiIndex.from_product([['Uzwojenie gorne', 'Uzwojenie dolne'], 
                                                      ['U[V]', 'I[A]', 'R[ohm]']]))
df1 = df1.style.set_caption('Tabela 1. Wyniki pomiarów dokonanych podczas badania rezystancji uzwojenia transformatora.')


df1

Wartość średnia rezystancji $R_{1,śr} = $<p>
Wartość średnia rezystancji $R_{2,śr} = $

### 2. Badanie przekładni napięciowej i prądowej transformatora.

In [28]:
l = [1,2,3,0,0] # test samples
n_samples = 4
data = [l] * n_samples

grear = lambda sr1, sr2: sr1/sr2 # calc for U sr1/sr2 , for I sr2/sr1

df2 = pd.DataFrame(data, index=pd.Index([f'U_{i+1}[V]' if i < 2 else f'I_{i-1}[V]' for i in range(n_samples)], 
                                      name='Wyniki pomiarów:'),
                  columns=[f'Pomiar {i + 1}' if i < 3 else f'Uśr[V]' if i == 3 else 'przekładnia[V]' for i in range(len(l))])

df2 = df2.style.set_caption('Tabela 2. Wyniki pomiarów przekładni napięciowej i prądowej transformatora.')
df2

### 3. Badanie stanu jałowego.

Dla obliczenia poniższych wielkości potrzebujemy skorzystać z poniższych wzorów:<p>
### $cos\phi_{0}=\frac {P_{0}}{U_{0} * I_{0}}$
### $I_{cz}=I_{0}*cos\phi_{0}$
### $I_{\mu}=I_{0}*sin\phi_{0}$

In [29]:
l = [1,2,3,0,0,0]
n_samples = 8
data = [l] * n_samples

cos_fi_0 = lambda p_0, u_0, i_0: p_0/(u_0 * i_0)

i_cz = lambda i_0, cos_fi_0: i_0 * cos_fi_0

i_m = lambda i_0, sin_fi_0: i_0 * sin_fi_0



df3 = pd.DataFrame(data, columns=["U_0[V]", "I_0[A]", "P_0[W]", "cos fi_0", "Im[A]", "Icz[A]"],
                  index=np.arange(n_samples)+1)
df3 = df3.style.set_caption("Tabela 3. Wyniki pomiarów charakterystyk stanu jałowego")
df3
# TO DO:

# add calculation for cos fi ect.!!

### 4. Badanie stanu obciążenia

Dla obliczenia poniższych wielkości potrzebujemy skorzystać z poniższych wzorów:<p>
### $P_{2}=U_{2} * I_{2}$
### $cos\phi_{1}=\frac {P_{1}}{U_{1} * I_{1}}$
### $\eta=\frac {P_{2}}{P_{1}} * 100\%$

In [41]:
l = list(range(9))
l[-4:] = [0] * 4
n_samples = 12
data = [l] * n_samples

df4 = pd.DataFrame(data, columns=["U_1[V]", "I_1[A]", "P_1[W]", "U_2[V]", "I_2[A]", "P_2[W]", "cos_fi_1",
                                 "n[%]", "I_2/I_1[-]"])

p_2 = lambda u_2, i_2: u_2 * i_2

cos_fi_1 = lambda p_1, u_1, i_1: p_1/(u_1 * i_1)

n = lambda p_2, p_1: (p_2/p_1) * 100

df4=df4.style.set_caption("Tabela 4. Wyniki pomiaru stanu obciążenia transformatora")
df4

### 5. Badanie stanu zwarcia.

Dla obliczenia poniższych wielkości potrzebujemy skorzystać z poniższych wzorów:<p>
### $cos\phi_{z}=\frac {P_{z}}{U_{z} * I_{z}},$
### $R_{z}= \frac {P_{z}}{I_{z}^2},$
### $X_{z}= \sqrt{Z_{z}^2 - R_{z}^2},$
### $Z_{z}=\frac {U_{z}}{I_{z}},$
### $P_{2}=R_{2,śr}*I_{2}^2$

In [45]:
l = list(range(1,10)) # test data
l[-6:] = [0] * 6
n_samples = 8
data = [l] * n_samples
columns = ["U_z[V]", "I_z[A]", "P_z[W]", "cos_fi_z", "R_z[ohm]", "X_z[ohm]", "Z_z[ohm]", "I_2[A]", "P_2[W]"]
df5 = pd.DataFrame(data, columns=columns, index=np.arange(n_samples)+1)
df5=df5.style.set_caption("Tabela 5. Tabela wyników pomiarów stanu zwarcia normalnego")
df5

# TO DO
    6. Opracowanie wyników.
    a) Na podstawie wyników pomiarów obliczyć pozostałe wartości
    b) Wykresy wykonać na PAPIERZE MILIMETROWYM!
    c) Wyznaczyć charakterystyki stanu jałowego, tj. 
    d) Wyznaczyć charakterystyki stanu obciążenia, tj. 
    e) Wyznaczyć charakterystyki zwarciowe, tj. , 
    f) Przeprowadzić dyskusję wyników oraz podać wnioski wg wytycznych

In [37]:
l = list(range(9))
l[-5:] = [0] * 4
l

[0, 1, 2, 3, 0, 0, 0, 0]